
@{
    ViewBag.Title = "Index";
}

<br /><br /><br /><br />
<div class="container body2">
    <div class="text-center">
        <h1 class="display-4">
            @Html.Label("Your BF:") @ViewBag.BF %  <br /> +/- 3%
        </h1>
    </div>
</div>










